In HTML and CSS, the class attribute denotes a particular style. Assume that two styles have
already been defined for you:
● lightyellowrow (light yellow row style)
● whiterow (white row style)
Write a program that asks for a number of rows in an HTML table and
generates a table with alternating light yellow and white rows, starting with
light yellow. The first column of the table (i.e. the first set of <td></td> enclosures)
shows the row number. The second column displays the square of the row
number. The starting row number is 1.
Note: <table> </table> are begin and end tags respectively. Each row is enclosed by
<tr> and </tr>. Each row has two details or columns as enclosed by <td> and </td>:
the row number and the square of the row number.
In an HTML browser, the final output might look something like this (for five rows):

In [ ]:
rows = int(input("Enter number of rows: "))
print('<table>')
for row in range(1,rows+1):
    if row % 2 == 0:
        color = '"lightyellowrow"'
    else: color = '"whiterow"'
    print('<tr class='+color+'><td>'+str(row)+'</td><td>'+str(row**2)+'</td></tr>')

print('</table>')

Write a program that takes in 3 numerical inputs: a day, a month, and a year. The output of
the day should follow the ordinal indicator convention (ex. 1st, 2nd, 3rd, 4th,..., 11th, 12th,
21st, 23rd and so on). If the date is valid (i.e proper month, proper number of days for that
month, leap year) then output the day in the format:

But if the date is not valid (e.g. putting more than 30 days in April, or giving a month greater
than 12), print “Date is not valid”.
Remember months have either 31 days and 30 days, except for February which has 28 days
on non-leap years but has 29 days on leap years. Leap years are years that are divisible by
4 but if they are divisible by 100 then it is only considered a leap year if it is divisible by 400.

In [46]:
day = int(input('Day: '))
month = int(input('Month: '))
year = int(input('Year: '))

months_list = ['January','February','March','April','May','June','July','August','September','October','November','December']

if 1 <= month <= 12:
    month = months_list[month-1]

_st = [1,21,31]
_nd = [2,22]
_rd = [3,23]
  
if day in _st:
    output = "It is the "+str(day)+"st"+" of the month of "+str(month)+" of the year "+str(year)
elif day in _nd:
    output = "It is the "+str(day)+"nd"+" of the month of "+str(month)+" of the year "+str(year)
elif day in _rd:
    output = "It is the "+str(day)+"rd"+" of the month of "+str(month)+" of the year "+str(year)
elif 1 <= day <= 31: 
    output = "It is the "+str(day)+"th"+" of the month of "+str(month)+" of the year "+str(year)

if not month in months_list: output = 'Date is not valid'
if month in ['April','June','September','November']:
    if day > 30: output = 'Date is not valid'
elif month == 'February':
    if year % 4 == 0:
        if year % 100 == 0:
            if not year % 400 == 0: 
                if day > 28: output = 'Date is not valid'
        elif day > 29: output = 'Date is not valid'
    else: 
        if day > 28: output = 'Date is not valid'
else:
    if day > 31: output = 'Date is not valid'
    

print(output)

Day: 6
Month: 12
Year: 2020
It is the 6th of the month of December of the year 2020

An obedient number is a positive integer that can be written as the sum of three
consecutive positive integers. 15 (4+5+6) and 30 (9+10+11) are obedient numbers.
Requirement: Create a function called ‘obedient’ that would identify whether a number is
obedient or not. Display Boolean values for your program’s output.

In [6]:
def obedient(x):
    # smallest possible Obedient Number == 6
    if x >= 6:
        # three consecutive integers always sum in multiples of 3
        if x % 3 == 0:
            return True
        else: return False

16
False

Multiplication table: The multiplication table summarizes the products of varying
combinations of 2 natural numbers.
Requirement: Create a function ‘multtable’ that accepts one required parameter size and
prints out a size x size multiplication table (without the column and row labels).

In [18]:
size = int(input())

def multtable(size):
    for row in range(1,size+1):
        i = 1
        for x in range(1,size+1):
            print(row*i, end = "\t")
            i += 1
        print()

7
1	2	3	4	5	6	7
2	4	6	8	10	12	14
3	6	9	12	15	18	21
4	8	12	16	20	24	28
5	10	15	20	25	30	35
6	12	18	24	30	36	42
7	14	21	28	35	42	49
None

Create a buzzfeed-style quiz called “What is your element?” The requirements of your
program are as such:
a. The program will prompt the user these 5 questions one at a time:
Do you prefer (a) the mountains, (b) the city, or (c) the beach?
Do you prefer (a) yoghurt, (b) ice cream, or (c) gelato?
Do you prefer (a) reading, (b) singing, or (c) writing?
Do you prefer (a) sweet, (b) salty, or (c) spicy food?
Do you prefer (a) cats, (b) dogs, or (c) fish?
b. If the user input is not either ‘a,’ ‘b’, or ‘c’ for any of the questions, print “Sorry, you
inputted a wrong letter. Please start again.” then ask each of the questions again,
starting from the first question.
c. For each question, each response corresponds to an element. The possible
equivalents are Fire, Water, and Earth. The corresponding element for each choice
of each question is as follows:
Q1: mountains = fire, city = earth, beach = water
Q2: yoghurt = earth, ice cream = water, gelato = fire
Q3: reading = water, singing = fire, writing = earth
Q4: sweet = earth, salty = water, spicy = fire
Q5: cats = earth, dogs = fire, fish = water
d. For each question, a point is given to the corresponding element of the user’s
choice. The element with the most number of points by the end of the quiz is the
element of the user.
e. If there are ties (for instance, 2 fire, 2 earth, 1 water), then employ the logic below to
solve the tie.
If there is a tie between fire and earth, earth would win
If there is a tie between fire and water, fire would win
If there is a tie between earth and water, water would win

In [ ]:
while True:
    one = input("Do you prefer (a) the mountains, (b) the city, or (c) the beach?")
    two = input("Do you prefer (a) yoghurt, (b) ice cream, or (c) gelato?")
    three = input("Do you prefer (a) reading, (b) singing, or (c) writing?")
    four = input("Do you prefer (a) sweet, (b) salty, or (c) spicy food?")
    five = input("Do you prefer (a) cats, (b) dogs, or (c) fish?")

    if not one in ['a','b','c']:
        print('Sorry, you inputted a wrong letter. Please start again.')
        continue
    elif not two in ['a','b','c']:
        print('Sorry, you inputted a wrong letter. Please start again.')
        continue
    elif not three in ['a','b','c']:
        print('Sorry, you inputted a wrong letter. Please start again.')
        continue
    elif not four in ['a','b','c']:
        print('Sorry, you inputted a wrong letter. Please start again.')
        continue
    elif not five in ['a','b','c']:
        print('Sorry, you inputted a wrong letter. Please start again.')
        continue
    else: break

water = 0
fire = 0
earth = 0

if one == 'a':
    fire += 1
elif one == 'b':
    earth += 1
elif one == 'c':
    water += 1

if two == 'a':
    earth += 1
elif two == 'b':
    water += 1
elif two == 'c':
    fire += 1

if three == 'a':
    water += 1
elif three == 'b':
    fire += 1
elif three == 'c':
    earth += 1

if four == 'a':
    earth += 1
elif four == 'b':
    water += 1
elif four == 'c':
    fire += 1

if five == 'a':
    earth += 1
elif five == 'b':
    fire += 1
elif five == 'c':
    water += 1

if water > fire and water > earth:
    element = 'Water'
elif fire > water and fire > earth:
    element = 'Fire'
elif earth > water and earth > fire:
    element = 'Earth'

if water == fire:
    element = 'Fire'
elif water == earth:
    element = 'Water'
elif fire == earth:
    element = 'Earth'

print('Your element is',element)